rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{productId} { allow read: if true; }
    match /users/{userId} {
      allow create: if request.auth.uid == userId;
      allow read: if request.auth.uid == userId;
      allow update: if request.auth.uid == userId && !(request.resource.data.isGuest is bool);
      allow delete: if false;
    }
    match /settings/guestCounter { allow read, update: if true; }
    match /users/{userId}/{collectionName}/{docId} { allow read, write: if request.auth.uid == userId; }
    match /{document=**} { allow read: if false; allow write: if false; }
  }
}
